---
import {
  AUTHOR,
  AUTHOR_EMAIL,
  GITHUB_USERNAME,
  TWITTER_USERNAME,
  LINKEDIN_USERNAME
} from '@/consts'

const year = new Date().getFullYear()
---

<footer class="mx-auto max-w-[680px] px-6 pt-4 pb-12 text-center">
  <div class="ornament" aria-hidden="true">&#10045;</div>

  <ul class="m-0 mb-6 list-none p-0">
    {
      AUTHOR_EMAIL && (
        <li class="mx-3 my-2 inline">
          <a href={`mailto:${AUTHOR_EMAIL}`} rel="external">
            Email
          </a>
        </li>
      )
    }
    {
      GITHUB_USERNAME && (
        <li class="mx-3 my-2 inline">
          <a href={`https://github.com/${GITHUB_USERNAME}`} rel="external">
            GitHub
          </a>
        </li>
      )
    }
    {
      TWITTER_USERNAME && (
        <li class="mx-3 my-2 inline">
          <a href={`https://twitter.com/${TWITTER_USERNAME}`} rel="external">
            Twitter
          </a>
        </li>
      )
    }
    {
      LINKEDIN_USERNAME && (
        <li class="mx-3 my-2 inline">
          <a
            href={`https://www.linkedin.com/in/${LINKEDIN_USERNAME}`}
            rel="external">
            LinkedIn
          </a>
        </li>
      )
    }
  </ul>

  <p class="text-text-muted m-0 text-sm">
    &copy; {AUTHOR}
    {year}
  </p>
</footer>
